[user]
	name = Lars Levie
	email = larslevie@gmail.com
[commit]
	gpgsign = true
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = /Users/larslevie/.ssh/allowed_signers
[gpg]
	program = /usr/local/bin/gpg
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[credential]
	helper = cache
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[diff]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
	trustExitCode = true
[merge]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[url "git@github-realgeeks:RealGeeks/"]
	insteadOf = git@github.com:RealGeeks/
[url "ssh://git@github-cincpro/cincpro/"]
	insteadOf = ssh://git@github.com/cincpro/
[url "ssh://git@github-realgeeks/RealGeeks/"]
	insteadOf = ssh://git@github.com/realgeeks/
[credential "https://dev.azure.com"]
	useHttpPath = true
[url "git@github-cincpro:cincpro/"]
	insteadOf = git@github.com:cincpro/
[url "git@github-personal:"]
	insteadOf = git@github.com:
