[user]
	name = Lars Levie
	email = larslevie@gmail.com
[commit]
	gpgsign = true
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[gpg]
	program = /usr/local/bin/gpg
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
	helper = cache
[credential "https://dev.azure.com"]
	useHttpPath = true
[diff]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
	trustExitCode = true
[merge]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
