[user]
	name = Lars Levie
	email = lars@realgeeks.com
	signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIAy75ioJVBRokPtDH2W9cRAThf/IMsr03AIwEVv1tThR Git Signing Key
[commit]
	gpgsign = true
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[gpg]
	program = /usr/local/bin/gpg
	format = ssh
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[pull]
	rebase = true
