[user]
	name = Lars Levie
	email = larslevie@gmail.com
[commit]
	gpgsign = true
[mergetool "Kaleidoscope"]
	trustexitcode = true
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[push]
	default = simple
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
[hub]
	protocol = ssh
[core]
	excludesfile = /Users/larslevie/.gitignore
[pull]
	rebase = false
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[merge]
	tool = Kaleidoscope
[mergetool]
	prompt = false
[init]
	defaultBranch = main
