.config/gcloud/*.db
.config/gcloud/logs
.config/iTerm/AppSupport

.zsh_history
.zsh_sessions

*_credentials/

*.zwc

.DS_Store
env
/config/.aws/sso
/config/.aws/cli
/config/.kube/cache
/config/.kube/kubectx
/config/.kube/kubens
/config/.config/zed/prompts
/config/.config/raycast/extensions
/config/.config/helm
/config/.config/github-copilot/apps.json
/config/.config/claude/statsig
/config/.config/claude/todos
/config/.config/claude/projects
/config/.claude/statsig
/config/.claude/todos
/config/.claude/projects
/config/.claude/local
/config/.claude/ide
/config/.claude/.update.lock
/config/.claude/shell-snapshots
/config/.claude.json
/config/.claude/debug
/config/.claude/file-history
/config/.claude/history.jsonl
/config/.claude/security_warnings_*
/config/.claude/security_warnings_*
/config/.claude/security_warnings_*
/config/.config/pnpm/rc
/config/.config/mark.toml
/config/.config/gcloud/virtenv
/config/.config/gcloud/logs
/config/.config/gcloud/*.db
/config/.config/gcloud/application_default_credentials.json
/config/.config/gcloud/.last_*
/config/.config/configstore
/config/.config/acli
/config/.claude/telemetry
/config/.claude/stats-cache.json
/config/.claude/plugins
/config/.config/requestly
/config/.config/iterm2/AppSupport
/config/.config/grit/grit-receipt.json
/config/.claude/cache
/config/.claude/paste-cache
/config/.claude/tasks
/config/.config/env.secrets
/config/.claude/plans
