"*":
  "atom-beautify":
    js: {}
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    use:
      "atom-ide-diagnostics": false
      "atom-ide-diagnostics-ui": false
  core:
    allowPendingPaneItems: false
    closeEmptyWindows: false
    customFileTypes:
      "source.yaml": [
        "yaml.ctmpl"
      ]
    debugLSP: true
    destroyEmptyPanes: false
    disabledPackages: [
      "minimap"
      "atom-ide-ui"
      "react"
      "language-gfm"
    ]
    projectHome: "/Users/larslevie/workspace"
    telemetryConsent: "no"
    titleBar: "custom"
  editor:
    fontFamily: "Operator Mono Lig"
    fontSize: 18
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "6e1d0249-4ec9-488e-9ef6-eb08a340860f"
  "git-blame":
    columnWidth: 306
  "ide-ruby":
    lintLevel: "0"
  "isotope-ui":
    tabSizing: "Minimum"
  "linter-eslint":
    disableWhenNoEslintConfig: false
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "linter-rubocop":
    command: "/Users/larslevie/.rbenv/versions/2.4.2/bin/rubocop"
  "linter-ui-default":
    panelHeight: 69
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui":
    fontSize: 11
  "prettier-atom":
    formatOnSaveOptions:
      showInStatusBar: true
    prettierOptions: {}
    useEditorConfig: false
    useEslint: true
  welcome:
    showOnStartup: false
