"*":
  "atom-beautify":
    js: {}
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
    use: {}
  "autocomplete-python":
    useKite: false
  "circle-ci":
    apiToken: "1d3182eeb86d5967c2e1b47bf0495e3b235780b2"
    iconColor: true
  core:
    allowPendingPaneItems: false
    closeEmptyWindows: false
    customFileTypes:
      "source.yaml": [
        "yaml.ctmpl"
      ]
    debugLSP: true
    destroyEmptyPanes: false
    disabledPackages: [
      "teletype"
    ]
    projectHome: "/Users/larslevie/workspace"
    telemetryConsent: "no"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Operator Mono Lig"
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "6e1d0249-4ec9-488e-9ef6-eb08a340860f"
  "git-blame":
    columnWidth: 306
  "ide-ruby":
    lintLevel: "0"
  "isotope-ui":
    tabSizing: "Minimum"
  kite:
    showKiteTourOnStartup: false
  "linter-eslint":
    disableWhenNoEslintConfig: false
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "linter-pycodestyle":
    convertAllErrorsToWarnings: false
  "linter-python":
    executablePath: "/usr/local/bin/pylama"
  "linter-rubocop":
    command: "/Users/larslevie/.rbenv/shims/rubocop"
    disableWhenNoConfigFile: true
  "linter-ui-default":
    panelHeight: 69
  minimap:
    plugins:
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      pigments: true
      pigmentsDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
  "one-dark-ui":
    fontSize: 11
  "prettier-atom":
    formatOnSaveOptions:
      showInStatusBar: true
    prettierOptions: {}
    useEditorConfig: false
    useEslint: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".python.source":
  editor:
    autoIndentOnPaste: true
